.navigation-horizontal {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
  }
  
  .navigation-horizontal li a {
    padding: 1.4rem 2rem;
  }